<% if word.nil? %>
  <%= form_for conlang.words.new, html: { class: "tr", id: "word_new" } do |f| %>
    <%= f.hidden_field :conlang_id, value: conlang.id %>
    <div class="td"><%= f.text_field :text %></div>
    <div class="td"><%= f.text_field :english %></div>
    <div class="td">-</div>
    <div class="td"><%= f.submit %></div>
  <% end %>
<% else %>
  <%= form_for word, html: { class: "tr", id: "#{dom_id word}" } do |f| %>
    <div class="td"><%= f.text_field :text %></div>
    <div class="td"><%= f.text_field :english %></div>
    <div class="td"><%= word.updated_at.strftime("%F") %></div>
    <div class="td"><%= f.submit %></div>
  <% end %>
<% end %>
