<%= turbo_stream_from :words %>
<%# <table> %>
<%#   <thead> %>
<%#     <tr> %>
<%#       <th>Word</th> %>
<%#       <th>English</th> %>
<%#       <th>Updated</th> %>
<%#     </tr> %>
<%#   </thead> %>
<%#   <tbody id="words_table"> %>
<%#     <% conlang.words.each do |word| %1> %>
<%#       <%= word_tr word %1> %>
<%#     <% end %1> %>
<%#     <%= new_word_form conlang %1> %>
<%#   </tbody> %>
<%# </table> %>

<div class="table">
  <div class="thead">
    <div class="tr">
      <div class="th">Word</div>
      <div class="th">English</div>
      <div class="th">Updated</div>
      <div class="th">Edit</div>
      <div class="th">Delete</div>
    </div>
  </div>
  <div id="words_table" class="tbody">
    <% conlang.words.each do |word| %>
      <%= word_tr word %>
    <% end %>
    <%= new_word_form conlang %>
  </div>
</div>
