<%# <tr id="<%= dom_id word %1>"> %>
<%#   <td id="text_word_<%= word.id %1>"><%= word.text %1></td> %>
<%#   <td id="english_word_<%= word.id %1>"><%= word.english %1></td> %>
<%#   <td><%= word.updated_at.strftime("%F") %1></td> %>
<%#   <td><%= button_to "Edit", edit_word_path(word), method: :get %1></td> %>
<%#   <td><%= button_to "Delete", word, method: :delete %1></td> %>
<%# </tr> %>

<div class="tr" id="<%= dom_id word %>">
  <div id="text_word_<%= word.id %>" class="td"><%= word.text %></div>
  <div id="english_word_<%= word.id %>" class="td"><%= word.english %></div>
  <div class="td"><%= word.updated_at.strftime("%F") %></div>
  <div class="td"><%= button_to "Edit", edit_word_path(word), method: :get %></div>
  <div class="td"><%= button_to "Delete", word, method: :delete %></div>
</div>
